h1 UserLogin
h3 registerFromEmail
form(action='/registerFromEmail', method='post',enctype="multipart/form-data")
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | mobile :
    input(type='text', name='mobile')
    | qualifications :
    input(type='text', name='qualifications')
    | tech_type :
    input(type='text', name='tech_type')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    | profile_pic :
    input(type='file', name='profile_pic')
    | city :
    input(type='text', name='city')
    input(type='submit', value='submit')
h3 emailLogin
form(action='/emailLogin', method='post')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 FB Login
form(action='/fbLogin', method='post')
    | email :
    input(type='text', name='email')
    | FB ID :
    input(type='text', name='fb_id')
    | fb access token :
    input(type='text', name='fb_access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app versioncode :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 FB register
form(action='/fbRegister', method='post',enctype="multipart/form-data")
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | mobile :
    input(type='text', name='mobile')
    | FB ID :
    input(type='text', name='fb_id')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app versioncode :
    input(type='text', name='app_version')
    | qualifications :
    input(type='text', name='qualifications')
    | tech_type :
    input(type='text', name='tech_type')
    | profile_pic :
    input(type='file', name='profile_pic')
    | city :
    input(type='text', name='city')
    input(type='submit', value='submit')
h3 userLogout
form(action='/userLogout', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 forgotPassword
form(action='/forgotPassword', method='post')
    | email :
    input(type='text', name='email')
    input(type='submit', value='submit')
h3 access Token Login
form(action='/accessTokenLogin', method='post')
    | access_token :
    input(type='text', name='access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 homescreenData
form(action='/homescreenData', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 userProfile
h3 getProfileData
form(action='/getProfileData', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 editProfileData
form(action='/editProfileData', method='post', enctype="multipart/form-data")
    | access_token :
    input(type='text', name='access_token')
    | mobile :
    input(type='text', name='mobile')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | profile_pic :
    input(type='file', name='profile_pic')
    | city :
    input(type='text', name='city')
    | tech_type :
    input(type='text', name='tech_type')
    input(type='submit', value='submit')
h3 changePassword
form(action='/changePassword', method='post')
    | access_token :
    input(type='text', name='access_token')
    | old_password :
    input(type='text', name='old_password')
    | new_password :
    input(type='text', name='new_password')
    input(type='submit', value='submit')
h3 feedbackByTechnician
form(action='/feedbackByTechnician', method='post')
    | access_token :
    input(type='text', name='access_token')
    | message :
    input(type='text', name='message')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 booking
h3 newBookings
form(action='/newBookings', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 acceptBooking
form(action='/acceptBooking', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    | is_accepted :
    input(type='text', name='is_accepted')
    | reason :
    input(type='text', name='reason')
    input(type='submit', value='submit')
h3 outToService
form(action='/outToService', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 reached
form(action='/reached', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 startService
form(action='/startService', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 endService
form(action='/endService', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    | service_time :
    input(type='text', name='service_time')
    input(type='submit', value='submit')
h3 giveRating
form(action='/giveRating', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    | rating :
    input(type='text', name='rating')
    input(type='submit', value='submit')
h3 upcomingBookings
form(action='/upcomingBookings', method='post')
    | access_token :
    input(type='text', name='access_token')
    | current_date :
    input(type='text', name='current_date')
    input(type='submit', value='submit')
h3 bookingDetails
form(action='/bookingDetails', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 initialCall
form(action='/initialCall', method='post')
    | access_token :
    input(type='text', name='access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 promotion
h3 applyPromotionCode
form(action='/applyPromotionCode', method='post')
    | access_token :
    input(type='text', name='access_token')
    | promo_code :
    input(type='text', name='promo_code')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 Cards
h3 showCreditCard
form(action='/showCreditCard', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 deleteCard
form(action='/deleteCard', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
h3 defaultCard
form(action='/defaultCard', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 Availability
h3 createAvailabilityTable
form(action='/createAvailabilityTable', method='post')
    | interval :
    input(type='text', name='interval')
    input(type='submit', value='submit')
h3 getAvailabilityOfTech
form(action='/getAvailabilityOfTech', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 editAvailabilityOfTech
form(action='/editAvailabilityOfTech', method='post')
    | access_token :
    input(type='text', name='access_token')
    | schedule_json :
    input(type='text', name='schedule_json')
    input(type='submit', value='submit')