<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#/dashboard" class="logo">Viza<span>Voo</span></a>

    <div class="top-nav ">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img alt="" src="img/alia.png">
                    <span class="username">Admin</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout" style=" left: -54px !important;">
                    <div class="log-arrow-up"></div>
                    <li><a data-toggle="modal" href="#dashboard"><i class="fa fa-cog"></i> Change Password</a></li>
                    <li><a href="#/logout"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!--search & user info end-->
    </div>
    <form name="loginForm" role="form">
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="dashboard"
         class="modal fade service-fade">
        <div class="modal-dialog">
            <div class="modal-content content-data-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <p class="email-data">Old Password</p>
                    <input type="text" name="pass1" placeholder="Old Password" autocomplete="off" ng-model="pass1"
                           class="form-control placeholder-no-fix">
                </div>
                <div class="modal-body">
                    <p class="email-data">New Password</p>
                    <input type="text" name="pass2" placeholder="New Password" autocomplete="off" ng-model="pass2"
                           class="form-control placeholder-no-fix">
                </div>
                <div class="modal-body">
                    <p class="email-data">Confirm Password</p>
                    <input type="text" name="pass3" placeholder="Confirm Password" autocomplete="off" ng-model="pass3"
                           class="form-control placeholder-no-fix">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-success"  type="submit"
                            ng-click="changePassword(pass1,pass2,pass3);">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
        </form>
</header>