<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a ng-class="getClass('/dashboard')" href="#/dashboard">
                    <i class="fa fa-users"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-user"></i>
                    <span style="margin-right: 100px">Artists</span> &nbsp<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="min-width:188px; background-color:#44505E">
                    <li><a ng-class="getClass('/verified_artists')" href="#/verified_artists">Verified</a></li>
                    <li><a ng-class="getClass('/new_artists')" href="#/new_artists">New Requests</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a ng-class="getClass('/services')" href="#/services">
                    <i class="fa fa-cogs"></i>
                    <span>Services</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-dot-circle-o"></i>
                    <span style="margin-right: 90px">Sessions</span>&nbsp<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="min-width:188px; background-color:#44505E">
            <li><a ng-class="getClass('/upcoming_session')" href="#/upcoming_session">Upcoming</a></li>
            <li><a ng-class="getClass('/past_session')" href="#/past_session">Past</a></li>
        </ul>
        </li>
        <li class="sub-menu">
            <a ng-class="getClass('/reports')" href="#/reports">
                <i class="fa fa-bar-chart-o"></i>
                <span>Reports</span>
            </a>
        </li>
        <li class="sub-menu">
            <a ng-class="getClass('/payments')" href="#/payments">
                <i class="fa fa-credit-card"></i>
                <span>Payment</span>
            </a>
        </li>
        <li class="sub-menu">
            <a ng-class="getClass('/partybooking')" href="#/partybooking">
                <i class="fa fa-beer"></i>
                <span>Party Bookings</span>
            </a>
        </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->