<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>

    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Customers > <span class="inner-field">Profile </span></div>


                        <div class="info-box">
                            <aside class="profile-nav col-lg-3 pro-box">
                                <section class="panel">
                                    <div class="user-heading round">
                                        <a href="#" class="img-box">
                                            <img src="{{image_url}}" alt="">
                                        </a>

                                        <div class="name-box">
                                            <h1>{{name}}</h1>

                                            <div class="email-box">{{email}}</div>
                                            <div>{{mobile}}</div>
                                        </div>
                                    </div>

                                </section>
                            </aside>
                        </div>
                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:62%;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Service Date&nbsp;<a ng-click="sort_by('service_date');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Address&nbsp;<a ng-click="sort_by('address');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Start Time&nbsp;<a ng-click="sort_by('start_time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>End Time&nbsp;<a ng-click="sort_by('end_time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Cost($)&nbsp;<a ng-click="sort_by('cost');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Artist Name&nbsp;<a ng-click="sort_by('artist_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Rating&nbsp;<a ng-click="sort_by('rating');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list1 | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td>{{$index + 1}}</td>
                                            <td>{{data.service_date}}</td>
                                            <td>{{data.address}}</td>
                                            <td>{{data.start_time}}</td>
                                            <td>{{data.end_time}}</td>
                                            <td>{{data.cost}}</td>
                                            <td>{{data.artist_name}}</td>
                                            <td>{{data.rating}}</td>


                                            <!--              <button type="button" class="btn btn-{{buttonStyle}}" ng-click="toggle = !toggle"></button>-->
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No Data found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
