<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Payment</div>


                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:63%">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('artist_id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Artist Name&nbsp;<a ng-click="sort_by('artist_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Paid Amount&nbsp;<a ng-click="sort_by('paid_amount');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Unpaid Amount&nbsp;<a ng-click="sort_by('unpaid_amount');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Enter Amount</th>
                                            <th>Statement Description</th>
                                            <th>Pay&nbsp;<a ng-click="sort_by('appointment_time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.artist_name}}</td>
                                            <td>{{data.paid_amount}}</td>
                                            <td>{{data.unpaid_amount}}</td>
                                            <td style="width:50px">
                                                <div ng-if="data.unpaid_amount != '0'">
                                                    <input type="text" ng-model="amount.x" placeholder="amount value" valid-number required>
                                                </div>
                                            </td>
                                            <td style="width:50px">
                                                <div ng-if="data.unpaid_amount != '0'">
                                                    <input type="text" ng-model="amount.y" placeholder="description">
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-if="data.unpaid_amount != '0'">
                                                    <button type="submit" class="btn btn-info"
                                                            ng-click="makePayment(data.artist_id,data.unpaid_amount)">
                                                        Pay
                                                    </button>
                                                </div>
                                            </td>


                                        </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No Payment User found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
