<!--common script for all pages-->

<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>

    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Reports</div>


                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group sub-data">
                                    <label class="col-sm-2 control-label col-lg-2 report-subhead">Download
                                        Reports:</label>

                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15 select-report" placeholder="choose"
                                                ng-init="report = options[0]"
                                                ng-model="report" ng-options="option.name for option in options">


                                        </select>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 report">
                                        Select Date:</label>


                                    <div class="main-box">


                                        <label>From</label>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="input-group">
                                                    <input type="text" class="form-control"
                                                           datepicker-popup="{{format}}" ng-model="start"
                                                           is-open="startOpened" min="minStartDate" max="maxStartDate"
                                                           datepicker-options="dateOptions" close-text="Close" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="openStart()"><i
                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="clear"></div>
                                    <div class="report-box">


                                        <label>To</label>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="input-group">
                                                    <input type="text" class="form-control"
                                                           datepicker-popup="{{format}}" ng-model="end"
                                                           is-open="endOpened" min="minEndDate" max="maxEndDate"
                                                           datepicker-options="dateOptions" close-text="Close" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="openEnd()"><i
                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <br/>

                                <div class="report-btn">
                                    <button type="button" class="btn btn-info"
                                            ng-click="addReport(report.name,dt,dt1);">Download
                                    </button>
                                </div>
                            </div>


                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
