<div id="loginheader" class="login-head-box">
    <img src="img/LogoVizavoo.png" class="login-head-img"/>
</div>
<div class="container">

    <form class="form-signin" name="resetForm" role="form">
        <h2 class="form-signin-heading">Reset Password</h2>

        <div class="login-wrap">
            <input type="password" class="form-control" placeholder="New Password" ng-model="pswd" required focus>
            <input type="password" class="form-control" ng-model="pswd1" placeholder="Confirm Password" required>

            <button class="btn btn-lg btn-login btn-block" type="submit" data-ng-disabled="resetForm.$invalid"
                    ng-click="resetFile(pswd,pswd1);">Submit
            </button>
        </div>


    </form>

</div>