<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Services</div>
                        <div class="service-btn">
                            <button type="button" data-toggle="modal" href="#addservices" class="btn btn-info">Add New
                                Service
                            </button>
                        </div>


                        <first></first>
                        <second></second>


                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:60%;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('service_id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Category&nbsp;<a ng-click="sort_by('category');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Service Name&nbsp;<a ng-click="sort_by('name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Service Image&nbsp;<a ng-click="sort_by('image_url');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Description&nbsp;<a ng-click="sort_by('description');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Time(min)&nbsp;<a ng-click="sort_by('time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Cost($)&nbsp;<a ng-click="sort_by('cost');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Edit</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td>{{$index+1}}</td>
                                            <td ng-switch="data.category">
                                                <div ng-switch-when="1">
                                                    Hair

                                                </div>
                                                <div ng-switch-when="2">
                                                    Make-up

                                                </div>

                                            </td>
                                            <td>{{data.name}}</td>
                                            <td><img src="{{data.image_url}}" alt="image" width="50"></td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.time}}</td>
                                            <td>{{data.cost}}</td>
                                            <td><a ng-click="editService(data.service_id,data.category);"
                                                   data-toggle="modal" href="#services"> Edit</a></td>

                                            <!--              <button type="button" class="btn btn-{{buttonStyle}}" ng-click="toggle = !toggle">{{toggleText}}</button>-->

                                        </tr>

                                        </tbody>

                                    </table>


                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No Services found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                                 id="addservices" class="modal fade service-fade">
                                <form role="form" name="myForm">
                                    <div class="modal-dialog">
                                        <div class="modal-content service-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Add Service</h4>
                                            </div>
                                            <div class="modal-body">

                                                <label> Category</label> <select class="form-control m-bot15"
                                                                                 placeholder="choose"
                                                                                 style="width:100%;"
                                                                                 ng-init="cat = options[0]"
                                                                                 ng-model="cat"
                                                                                 ng-options="option.name for option in options">

                                            </select>
                                            </div>
                                            <div class="modal-body"><label>Service Name</label><input type="text"
                                                                                                      name="name"
                                                                                                      id="name"
                                                                                                      ng-model="name"
                                                                                                      autocomplete="off"
                                                                                                      class="form-control placeholder-no-fix"
                                                                                                      required></div>
                                            <div class="modal-body"><label> Description</label><input type="text"
                                                                                                      name="desc"
                                                                                                      id="desc"
                                                                                                      ng-model="desc"
                                                                                                      autocomplete="off"
                                                                                                      class="form-control placeholder-no-fix"
                                                                                                      required></div>
                                            <div class="modal-body"><label> Cost($)</label><input type="text"
                                                                                                  ng-model="cost"
                                                                                                  autocomplete="off"
                                                                                                  class="form-control placeholder-no-fix"
                                                                                                  valid-number
                                                                                                  required ></div>
                                            <div class="modal-body"><label> Time(min)</label><input type="text"
                                                                                                    ng-model="servicetime"
                                                                                                    autocomplete="off"
                                                                                                    class="form-control placeholder-no-fix"
                                                                                                    valid-number required></div>
                                            <div class="modal-body"><label> Image</label> <input type="file"
                                                                                                 ng-file-select=""
                                                                                                 ng-model="picFile"
                                                                                                 name="file"
                                                                                                 ng-file-change="generateThumb(picFile[0], $files)"
                                                                                                 required>
                                            </div>
                                            <div class="modal-footer">
                                                <button data-dismiss="modal" class="btn btn-default" type="button">
                                                    Cancel
                                                </button>
                                                <button class="btn btn-success" type="submit"
                                                        ng-click="addFile(token,cat.name,name,desc,cost,servicetime,picFile);">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                                 id="services" class="modal fade service-fade">
                                <form role="form" name="myForm">
                                    <div class="modal-dialog">
                                        <div class="modal-content service-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>

                                                <h4 class="modal-title">Edit Service</h4>
                                            </div>
                                            <div class="modal-body">

                                                <label> Category</label> <select class="form-control m-bot15"
                                                                                 ng-model="category"
                                                                                 placeholder="choose"
                                                                                 style="width:100%;" required>
                                                <option>Hair</option>
                                                <option>Make-up</option>
                                            </select></div>
                                            <div class="modal-body"><label>Service Name</label><input type="text"
                                                                                                      autocomplete="off"
                                                                                                      class="form-control placeholder-no-fix"
                                                                                                      ng-model="data11[0].name"
                                                                                                      required></div>
                                            <div class="modal-body"><label> Description</label><input type="text"
                                                                                                      autocomplete="off"
                                                                                                      class="form-control placeholder-no-fix"
                                                                                                      ng-model="data11[0].description"
                                                                                                      required></div>
                                            <div class="modal-body"><label>Cost($)</label><input type="text"
                                                                                                 autocomplete="off"
                                                                                                 class="form-control placeholder-no-fix"
                                                                                                 ng-model="data11[0].cost" valid-number
                                                                                                 required></div>
                                            <div class="modal-body"><label>Time(min)</label><input type="text"
                                                                                                   autocomplete="off"
                                                                                                   class="form-control placeholder-no-fix"
                                                                                                   ng-model="data11[0].time" valid-number
                                                                                                   required></div>
                                            <div class="modal-body"><label>Image</label> <img
                                                    ng-src="{{data11[0].image_url}}" width="50"/> <input type="file"
                                                                                                         ng-file-select=""
                                                                                                         ng-model="picFile"
                                                                                                         name="file"
                                                                                                         accept="image/*"
                                                                                                         ng-file-change="generateThumb(picFile[0], $files)"
                                                    >
                                                <img ng-show="picFile[0].dataUrl != null"
                                                     ng-src="{{picFile[0].dataUrl}}" class="thumb">
                                            </div>
                                            <div class="modal-footer">

                                                <button data-dismiss="modal" class="btn btn-default" type="button">
                                                    Cancel
                                                </button>


                                                <button class="btn btn-success" type="submit"
                                                        ng-click="uploadFile(token,service_id,category,data11[0].name,data11[0].description,data11[0].cost,data11[0].time,picFile);">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
