<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Sessions > <span class="inner-field">Upcoming Sessions </span>
                        </div>


                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:47%">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Service Date&nbsp;<a ng-click="sort_by('service_date');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Start Time&nbsp;<a ng-click="sort_by('start_time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Category&nbsp;<a ng-click="sort_by('category');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Service Name&nbsp;<a ng-click="sort_by('service_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Customer Name&nbsp;<a ng-click="sort_by('customer_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Artist Name&nbsp;<a ng-click="sort_by('artist_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Address&nbsp;<a ng-click="sort_by('address');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Cost($)&nbsp;<a ng-click="sort_by('cost');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Action&nbsp;<a ng-click="sort_by('status');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td>{{index+1}}</td>
                                            <td>{{data.service_date}}</td>
                                            <td>{{data.start_time}}</td>
                                            <td>{{data.category}}</td>
                                            <td>{{data.service_name}}</td>
                                            <td>{{data.customer_name}}</td>
                                            <td>{{data.artist_name}}</td>
                                            <td>{{data.address}}</td>
                                            <td>{{data.cost}}</td>
                                            <td ng-switch="data.status">
                                                <div ng-switch-when="0" style="color:#00FFFF;">
                                                    No Action

                                                </div>
                                                <div ng-switch-when="1" style="color:#008000;">
                                                    Confirmed

                                                </div>
                                                <div ng-switch-when="2" style="color:#3DB2D2;">
                                                    Out

                                                </div>
                                                <div ng-switch-when="3" style="color:#673DD2;">
                                                    Reached

                                                </div>
                                                <div ng-switch-when="4" style="color:#FF0000;">
                                                    Started

                                                </div>

                                                <div ng-switch-when="5" style="color:#B90829;">
                                                    Ended

                                                </div>
                                                <div ng-switch-when="6" style="color:#400F18;">
                                                    Rejected

                                                </div>
                                                <div ng-switch-when="7" style="color:#40170F;">
                                                    Cancel

                                                </div>

                                            </td>
                                            <!--              <button type="button" class="btn btn-{{buttonStyle}}" ng-click="toggle = !toggle">{{toggleText}}</button>-->
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No Upcoming Session found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
