<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>

    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs"> Artists ><span class="inner-field"> Verified Artists</span>
                        </div>


                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:46%;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('user_id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Name&nbsp;<a ng-click="sort_by('user_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Phone No.&nbsp;<a ng-click="sort_by('mobile');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Email ID&nbsp;<a ng-click="sort_by('email');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Qualification&nbsp;<a ng-click="sort_by('qualification');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Registration Date&nbsp;<a
                                                    ng-click="sort_by('registration_datetime');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Rating&nbsp;<a ng-click="sort_by('rating');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Serving Zip&nbsp;<a ng-click="sort_by('zipcode');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Action&nbsp;<a ng-click="sort_by('is_block');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{$index + 1}}</a></td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.user_name}}</a></td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.mobile}}</a></td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.email}}</a></td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.qualification}}</a>
                                            </td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.registration_datetime}}</a>
                                            </td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.rating}}</a></td>
                                            <td><a ng-href="#/artistinfo/{{data.user_id}}">{{data.zipcode}}</a></td>
                                            <td ng-click="reloadRoute()" ng-switch="data.is_block">
                                                <div ng-switch-when="1">
                                                    <button type="button" class="btn btn-success"
                                                            ng-click="changeStatus(0,data.user_id)">Unblock
                                                    </button>

                                                </div>
                                                <div ng-switch-when="0">
                                                    <button type="button" class="btn btn-danger"
                                                            ng-click="changeStatus(1,data.user_id)">Block
                                                    </button>

                                                </div>

                                            </td>
                                            <!--              <button type="button" class="btn btn-{{buttonStyle}}" ng-click="toggle = !toggle">{{toggleText}}</button>-->
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No verified artist found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
